<div class="row-fluid">
    <div id="legend">
        <legend class="">Edit Case - <%= @conflict_case.case_message %></legend>
    </div>
    <%= render "form", {:conflict_case => @conflict_case, :action => "update" } %>
</div>