    <div class="row-fluid">
        <div id="legend">                    
            <legend class="">New Case</legend>
        </div>
        <!-- Name -->
        <%= render "form_new", {:conflict_case => @conflict_case, :action => "create" } %>
    </div>