<div class="row-fluid">
    <div id="legend">                    
        <legend class="">View Difference</legend>
    </div>
    <!-- Name -->
    <%= render "form_difference", {:base => @base} %>
</div>