    <div class="row-fluid">
        <div id="legend">
            <legend class="">Edit Reporter - <%= @reporter.first_name %> <%= @reporter.last_name %></legend>
        </div>
        <%= render "form", {:reporter => @reporter, :action => "update"} %>
    </div>