<div class="row-fluid">
    <div id="legend">
        <legend class="">Change Password</legend>
    </div>
    <div class="alert alert-info">
    	After you reset your password, you will automatically logout.
    </div>
    <%= render "form_change_password", {:user => @user, :action => "update_password"} %>
</div>