<div class="row-fluid">
    <div id="legend">
        <legend class="">Change Password</legend>
    </div>
    <%= render "form_change_password", {:user => @user, :action => "update_password"} %>
</div>