    <div class="row-fluid">
        <div id="legend">
            <legend class="">Edit User - <%= @user.first_name %> <%= @user.last_name %></legend>
        </div>
        <%= render "form_edit", {:user => @user, :action => "update"} %>
    </div>