
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  </head>
  <div>
    <div id="chart_condition" style="width: 30%; float: left; margin-top: 30px;">
      <h4> Trends </h4>
      <div style="margin-top: 15px; margin-bottom: 15px;">
        <span style="border: 1px solid #FF3333; background-color: #FF3333; border-width: 5px;"> &nbsp;&nbsp;&nbsp; </span>
        <input type="checkbox" name="conflict_inten[gender_based]" value="gender_based" style="margin-left: 10px; margin-bottom: 6px; margin-right: 5px;" />Gender based violence
      </div>
      <div style="margin-top: 15px; margin-bottom: 15px;">
        <span style="border: 1px solid #FF3399; background-color: #FF3399; border-width: 5px;"> &nbsp;&nbsp;&nbsp; </span>
        <input type="checkbox" name="conflict_inten[gender_based]" value="gender_based" style="margin-left: 10px; margin-bottom: 6px; margin-right: 5px;" />Case based violence
      </div>
      <div style="margin-top: 15px; margin-bottom: 15px;">
        <span style="border: 1px solid #FFFF33; background-color: #FFFF33; border-width: 5px;"> &nbsp;&nbsp;&nbsp; </span>
        <input type="checkbox" name="conflict_inten[gender_based]" value="gender_based" style="margin-left: 10px; margin-bottom: 6px; margin-right: 5px;" />Political violence
      </div>
      <div style="margin-top: 15px; margin-bottom: 15px;">
        <span style="border: 1px solid #99FF33; background-color: #99FF33; border-width: 5px;"> &nbsp;&nbsp;&nbsp; </span>
        <input type="checkbox" name="conflict_inten[gender_based]" value="gender_based" style="margin-left: 10px; margin-bottom: 6px; margin-right: 5px;" />Inter-personal conflict
      </div>
      <div style="margin-top: 15px; margin-bottom: 15px;">
        <span style="border: 1px solid #3333FF; background-color: #3333FF; border-width: 5px;"> &nbsp;&nbsp;&nbsp; </span>
        <input type="checkbox" name="conflict_inten[gender_based]" value="gender_based" style="margin-left: 10px; margin-bottom: 6px; margin-right: 5px;" />Resource based violence
      </div>
      <div class="well">
        <input type="text" class="datepicker" style="width: 100px;" />
        To
        <input type="text" class="datepicker" style="width: 100px;" />
      </div>
    </div>
    <div id="chart_div" style="width: 70%; height: 400px; float: right;"></div>

  </div>

  <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
        ['Year', '', ''],
        ['2004',  1000,      400],
        ['2005',  1170,      460],
        ['2006',  660,       1120],
        ['2007',  1030,      540]
      ]);

      var options = {
        title: ''
      };

      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
      chart.draw(data, options);
    }
    $('.datepicker').datepicker()
  </script>