<div class="row-fluid">
    <div id="legend">                    
        <legend class="">New Alert</legend>
    </div>
    <!-- Name -->
    <%= render "form", {:alert => @alert, :action => "create" } %>
</div>