<div class="row-fluid">
    <div id="legend">
        <legend class="">Edit Place - <%= @location.name %></legend>
    </div>
    <%= render "form", {:location => @location, :action => "update" } %>
</div>