    <div class="row-fluid">
        <div id="legend">                    
            <legend class="">New Place</legend>
        </div>
        <!-- Name -->
        <%= render "form", {:location => @location, :action => "create" } %>
    </div>